python -m pip install --upgrade pip
pip install	bleach==1.5.0
pip install	cycler==0.10.0
pip install	decorator==4.1.2
pip install	entrypoints==0.2.3
pip install	enum34==1.1.6
pip install	h5py==2.7.1
pip install	html5lib==0.9999999
pip install	ipykernel==4.6.1
pip install	ipython==6.2.1
pip install	ipython-genutils==0.2.0
pip install	ipywidgets==7.0.5
pip install	jedi==0.11.0
pip install	Jinja2==2.10
pip install	jsonschema==2.6.0
pip install	jupyter==1.0.0
pip install	jupyter-client==5.1.0
pip install	jupyter-console==5.2.0
pip install	jupyter-core==4.4.0
pip install	Keras==2.1.2
pip install	Markdown==2.6.9
pip install	MarkupSafe==1.0
pip install	matplotlib==2.1.0
pip install	mistune==0.8.1
pip install	nbconvert==5.3.1
pip install	nbformat==4.4.0
pip install	notebook==5.2.2
pip install	numpy==1.13.3
pip install	pandas==0.21.0
pip install	pandocfilters==1.4.2
pip install	parso==0.1.0
pip install	pexpect==4.3.0
pip install	pickleshare==0.7.4
pip install	prompt-toolkit==1.0.15
pip install	protobuf==3.5.0.post1
pip install	ptyprocess==0.5.2
pip install	Pygments==2.2.0
pip install	pyparsing==2.2.0
pip install	python-dateutil==2.6.1
pip install	pytz==2017.3
pip install	PyYAML==3.12
pip install	pyzmq==16.0.3
pip install	qtconsole==4.3.1
pip install	scikit-learn==0.19.1
pip install	scipy==1.0.0
pip install	simplegeneric==0.8.1
pip install	six==1.11.0
pip install	sklearn==0.0
pip install	tensorflow==1.4.0
pip install	tensorflow-tensorboard==0.4.0rc3
pip install	terminado==0.8.1
pip install	testpath==0.3.1
pip install	tornado==4.5.2
pip install	traitlets==4.3.2
pip install	wcwidth==0.1.7
pip install	Werkzeug==0.12.2
pip install	widgetsnbextension==3.0.8
 